body {
  margin: 0;
}

#chartdiv {
  width		: 900px;
  height		: 400px;
  font-size	: 11px;
}
.wrapword{
text-align: left !important;
white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
white-space: -webkit-pre-wrap; /*Chrome & Safari */
white-space: -pre-wrap;      /* Opera 4-6 */
white-space: -o-pre-wrap;    /* Opera 7 */
white-space: pre-wrap;       /* css-3 */
word-wrap: break-word;       /* Internet Explorer 5.5+ */
white-space: normal;
}
